{# This template will conditionally display if there is a user object i.e. only for an authenticated user #}

{% if user %}

<a class="nav-link dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenu1">

  <a class="dropdown-item">Profile for {{ user }}</a>
  <a class="dropdown-item" href="/logout" id="logout">Logout</a>
</div>

{% endif %}
