{% for invader in invaderList %}
<div class="col-md-3">
  <div class="card card-cascade">
    <div class="view overlay hm-white-slight">
      <img src="{{ invader.img_url }}" class="img-fluid" alt="">
      <a>
        <div class="mask waves-effect waves-light"></div>
      </a>
    </div>
    <div class="card-block text-center">
      <h4 class="card-title"><strong>{{ invader.lic_plate }}</strong></h4>
      <h5> {{ invader.lic_state }} </h5>
      <p class="card-text"> {{ invader.make }} {{ invader.model }} </p>
        <button class="btn btn-primary" id="shameButton" data-jacob="{{ invader._id }}">Shame!!</button>
        <h2 class="statistic-counter" id="countStats"> {{ invader.shame }}</h2>
        <div class="single_counter p-y-2">
          <i class="fa fa-frown-o"></i>
          <p>Shamings</p>
    </div>
    </div>
  </div>
</div>
{% endfor %}
