<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>What an Asshole!</title>

<meta property="og:title" content="Open Graph Title" />
<meta property="og:description" content="Open Graph description" />
<meta property="og:image" content="" />
<meta property="og:url" content="URL goes here" />
<meta property="og:site_name" content="SpaceInvaderz.com or LookAtThisFuckingAsshole.com" />

<meta name="twitter:card" content="Twitter Card Title" />
<meta name="twitter:description" content="Twitter Card Description" />
<meta name="twitter:title" content="SpaceInvaderz or LATFA" />
<meta name="twitter:site" content="twitter handle goes here" />
<meta name="twitter:image" content="Twitter image URL goes here" />
<meta name="twitter:creator" content="Twitter author handle goes here" />
