{% extends "./base.njk" %}

{% block cards %}
<h1>{{ title }}</h1>
<div class="row">
  
<!--Card 3-->
<div class="row">
  <div class="col-md-4">
    <div class="card card-cascade">
      <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" class="img-fluid" alt="">
        <a>
          <div class="mask waves-effect waves-light"></div>
        </a>
      </div>
      <div class="card-block text-center">
        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
        <h5>Web developer</h5>
        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <a class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-cascade">
      <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" class="img-fluid" alt="">
        <a>
          <div class="mask waves-effect waves-light"></div>
        </a>
      </div>
      <div class="card-block text-center">
        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
        <h5>Web developer</h5>
        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <a class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-cascade">
      <div class="view overlay hm-white-slight">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" class="img-fluid" alt="">
        <a>
          <div class="mask waves-effect waves-light"></div>
        </a>
      </div>
      <div class="card-block text-center">
        <h4 class="card-title"><strong>Billy Cullen</strong></h4>
        <h5>Web developer</h5>
        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
        <a class="btn btn-primary">Button</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block button %}
<div class="fab">
  <a class="btn-floating btn-large red" style="bottom: 45px; right: 24px;" data-toggle="modal" data-target="#modalInputForm">
    <i class="fa fa-plus"></i>
  </a>
</div>
{% endblock %}

{% block modal %}
<div class="modal fade" id="modalInputForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <div class="modal-content">
      <div class="modal-header light-blue darken-3 white-text">
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="title"><i class="fa fa-pencil"></i> Contact form</h4>
      </div>
      <div class="modal-body mb-0">
        <div class="md-form form-sm">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form19" class="form-control">
          <label for="form19">Your name</label>
        </div>
        <div class="md-form form-sm">
          <i class="fa fa-lock prefix"></i>
          <input type="password" id="form20" class="form-control">
          <label for="form20">Your email</label>
        </div>
        <div class="md-form form-sm">
          <i class="fa fa-tag prefix"></i>
          <input type="text" id="form21" class="form-control">
          <label for="form21">Subject</label>
        </div>
        <div class="md-form form-sm">
          <i class="fa fa-pencil prefix"></i>
          <textarea type="text" id="form8" class="md-textarea mb-0"></textarea>
          <label for="form8">Your message</label>
        </div>
        <div class="text-center mt-1-half">
          <button class="btn btn-info mb-2">Send <i class="fa fa-send ml-1"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
