
<head>
    <title>Forget Password</title>
</head>

<body>
    <div>
    	<h3>Reset Password Form</h3>
        <form>
            <label for="email"></label>
            <input type="email" name="email" id="email" required>
            <input type="submit" name="submit" id="forgotPW" value="Send">
        </form>
    </div>
  </body>
