
.header {
  font-family: Lucida Console;
}

form {
  padding: 2em;
}

main{
  background-color: #EDBB99;
  margin: auto;
  border-radius: 2em;
  width: 90%;
}

section{
  margin:auto;
  padding: 5% 5% 5% 5%;
}

nav ul li {
  display: none;
}


@media only screen and (min-width: 640px) {

  nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 1.5em;
    background-color: #FFF;
    border-radius: 1em;
    margin: auto
  }
}
