{
  "rules": {
    "no-console": "off",
    "indent": [ "warn", 2 ],
    "quotes": [ "warn", "single", {"allowTemplateLiterals": true} ],
    "semi": ["warn", "always"],
    "linebreak-style": [ "warn", "unix" ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "describe": false,
    "it": false,
    "beforeEach": false,
    "afterEach": false,
    "before": false,
    "after": false,
    "expect": false
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
  }
},
  "extends": [ "eslint:recommended", "plugin:react/recommended" ],
  "plugins": [ "react" ]
}
